* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1400px;
    min-height: 100vh;
}

.tabs {
    background-image: linear-gradient(to right top, #09b6d8, #00cbd2, #00dcae, #3ce773, #a8eb12);

}

.tabs__title {

    border-bottom: 2px solid gray;
}

.title__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title__list li {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.title__list li:hover {
    text-decoration: underline;
    background-color: rgba(8, 95, 20, 0.5);
}

.title__list li.active {
    text-decoration: underline;
    color: rgb(25, 28, 175);
    background-color: rgba(3, 187, 27, 0.5);
}

.tabs__text {
    padding-top: 15px;
}

.tabs__text .tab {
    display: none;
}

.tabs__text .active {
    display: block;
}

.tabs__text p {
    font-size: 18px;
    color: rgb(25, 28, 175)
}

.tabs__text p:not(:last-child) {
    margin-bottom: 10px;
}